// @use "./globalStyles/fonts";
// @use "./globalStyles/container";
// @use "./globalStyles/vars.scss"; подключены в vite.config, import depricated

html {
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  min-height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.main {
  flex: 1 1 auto;
  background: vars.$white;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;

}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

#modal-root {
  position: relative;
  z-index: 99999;
}