@font-face {
  font-family: 'Montserrat';
  src:
    url('assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('assets/fonts/Montserrat/Montserrat-Semibold.woff2') format('woff2'),
    url('assets/fonts/Montserrat/Montserrat-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src:
    url('assets/fonts/OpenSans/OpenSans_Condensed-Regular.woff2') format('woff2'),
    url('assets/fonts/OpenSans/OpenSans_Condensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src:
    url('assets/fonts/OpenSans/OpenSans_Condensed-Semibold.woff2') format('woff2'),
    url('assets/fonts/OpenSans/OpenSans_Condensed-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src:
    url('assets/fonts/OpenSans/OpenSans_Condensed-Bold.woff2') format('woff2'),
    url('assets/fonts/OpenSans/OpenSans_Condensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src:
    url('assets/fonts/OpenSans/OpenSans_Condensed-ExtraBold.woff2') format('woff2'),
    url('assets/fonts/OpenSans/OpenSans_Condensed-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}