.userCabinerAside {
  width: 370px;
  padding: 0 20px 70px 20px;
  background-color: #0095FF;

  @media (max-width: 1920.98px) {
    width: 200px;
    padding: 0 10px 50px 10px;
  }

  @media (max-width: 768.98px) {
    transition: 0.3s width ease;
    z-index: 9999;
    position: relative;
    transition: 0.3s width ease;
    min-height: 420px;
    width: 50px;
  }

  @media (max-width: 550.98px) {
    padding: 0 10px 50px 10px;
  }
}

.asideWrapper {
  height: 100%;
  flex: 1;
  background-color: #0095FF;

  @media (max-width: 768.98px) {
    transition: 0.3s width ease;
    position: absolute;
    left: 0;
    background-color: vars.$cobalt-blue;
    height: 461px;
    width: 50px;
  }
}

.isOpenAside {
  transition: 0.3s width ease;

  @media (max-width: 768.98px) {
    width: 60vw;
  }
}

.user {
  background-color: vars.$cobalt-blue;
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1920.98px) {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  img {
    border-radius: 50%;
    width: 290px;
    height: 290px;

    @media (max-width: 1920.98px) {
      width: 100px;
      height: 100px;
    }

    @media (max-width: 768.98px) {
      width: 100px;
      height: 100px;
    }
  }
}

.userName {
  font-family: vars.$primary-family;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.04em;
  text-align: center;
  color: vars.$white;
  margin-top: 20px;

  @media(max-width:1920.98px) {
    font-size: 25px;
  }
}

.userCabinetNavigation {
  font-family: vars.$primary-family;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.04em;
  color: vars.$white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  @media(max-width:1920.98px) {
    font-size: 20px;
  }

  li {
    padding: 17px 38px;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    display: flex;

    align-items: flex-start;

    @media(max-width:1920.98px) {
      padding: 10px 15px;
    }
  }
}

.isOpenHideUser {
  @media(max-width:768.98px) {
    transition: 0.5s all ease;
    opacity: 0;
    visibility: hidden;
    height: 200px;
  }
}

.toggleButton {
  display: none;

  @media(max-width:768.98px) {
    display: block;
    background-color: vars.$white;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -10px;
    top: 80px;
    border: 1px solid vars.$black;
  }
}

.userCabinetSvg {
  display: none;

  @media(max-width:768.98px) {
    display: block;
    margin-left: 5px;
  }
}

.hideText {
  @media(max-width:768.98px) {
    transition: 0.5s all ease;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}